name: penpot
maintainers:
  - name: codechem
    url: https://codechem.com
apiVersion: v2
appVersion: 1.16.0-beta
version: 1.0.5
description: CodeChem Penpot Helm Chart
home: https://github.com/codechem/helm/tree/main/charts/penpot
icon: https://avatars.githubusercontent.com/u/30179644?s=200&v=4
keywords:
  - kubernetes
  - penpot
  - penpotapp
  - design
sources:
  - https://github.com/penpot/penpot

dependencies:
  - condition: global.postgresqlEnabled
    name: postgresql
    repository: https://charts.bitnami.com/bitnami
    version: 12.x.x
  - condition: global.redisEnabled
    name: redis
    repository: https://charts.bitnami.com/bitnami
    version: 17.x.x
